.container{
    margin-top: 50px;
    width: 320px;
    overflow: hidden;
    max-height: 470px;
    padding: 10px;
    background-color:  #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container img {
    width: 100%;
    height: 235px;
    object-fit:  cover;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.description{
    margin-top: 10px;
}
.description h2{
    margin-top: 10px;
    font-size: 20px;
    color: rgb(123, 52, 52);
    padding-left: 4px;
}
.price{
    margin: 15px 0px;
    padding-left: 4px;
    font-size: 18px;
    color: #060805;
    font-weight: bold;
}

span{
    font-size: 13px;
    text-decoration: line-through;
    margin-left: 10px;
    color: #aa1c1c;
}

.description .btn{
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(123, 52, 52);
    padding: 12px 32px;
    border-radius: 40px;
    background-color: none;
    color: rgb(123, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s linear;
}

.description .btn :hover{
    background: rgb(123, 52, 52) ;
    color: #fff;

}