.hero2 {
  height: 50vh; /* half screen */
  background: url("https://images.pexels.com/photos/5836977/pexels-photo-5836977.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 80px; /* move text to left side */
  color: var(--third);
  position: relative;
}
.hero3{
    height: 50vh; /* half screen */
  background: url("https://images.pexels.com/photos/12704362/pexels-photo-12704362.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 80px; /* move text to left side */
  color: var(--third);
  position: relative;
}
.hero4 {
  height: 50vh; /* half screen */
  background: url("https://images.pexels.com/photos/32711306/pexels-photo-32711306.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 80px; /* move text to left side */
  color: var(--third);
  position: relative;
}

/* Optional overlay */
.hero2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
  z-index: 1;
}

.hero-content {
  position: relative;
  font-size: 48px;
  letter-spacing: 5px;
  z-index: 2; /* keeps text above overlay */
}

/* CARD STYLING */
.container{
    margin-top: 50px;
    width: 320px;
    overflow: hidden;
    max-height: 470px;
    padding: 10px;
    background-color:  #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container img {
    width: 100%;
    height: 250px;
    object-fit:  cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.container:hover{
  border: solid var(--secondary );
}

.description {
    flex: 1;                 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description h2{
    margin-top: 10px;
    font-size: 20px;
    color: var(--four);
    padding-left: 4px;
}

.price{
    margin: 15px 0px;
    padding-left: 4px;
    font-size: 18px;
    color: var(--primary);
    font-weight: bold;
}

span{
    font-size: 13px;
    text-decoration: line-through;
    margin-left: 10px;
    color: var(--five);
}

.description .btn{
    margin-top: 10px;
    outline: none;
    border: 1px solid var(--four);
    padding: 12px 32px;
    border-radius: 40px;
    background-color: transparent;
    color: var(--four);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s linear;
}

.description .btn:hover{
    background: var(--four);
    color: var(--third);
    border: 1px solid white;
}

/* PRODUCT GRID */
.product {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

/* DROPDOWN STYLING */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.dropdown-btn {
  padding: 10px 15px;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 180px;
  background: white;
  border: 1px solid #ccc;
  z-index: 9999;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 5px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background: #f1f1f1;
}

.selected-text {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--primary);
}

/* cart */

.cart-container {
  width: 90%;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 20px;
}

.cart-card {
  display: flex;
  width: 320px;
  max-height: 470px;
  align-items: center;
  background: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 0 8px #ccc;
}

.remove-btn {
  position: absolute;
  top: 10px;  
  right: 10px;   
  background: var(--five);
  color: var(--third);
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px;
  z-index: 10;    
}

.cart-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-details {
  margin-left: 20px;
}

.qty-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.qty-btn {
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: none;
  background: var(--primary);
  color: var(--third);
  cursor: pointer;
  border-radius: 5px;
}

.qty-number {
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

.total-price {
  text-align: center;
  margin-top: 25px;
  font-size: 24px;
  font-weight: bold;
}