.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    color: var(--primary);
    padding: 20px 0px;
}
.footer ul{
    list-style-type: none;
}
.f1{
    width: 350px;
}
.footer a{
    text-decoration: none;
    color: var(--primary);
}
.f2{
    height: 50px;
    background-color: var(--primary);
    align-content: center;
    color: var(--third);
}
@media (max-width : 768px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
}