.heroimg{
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
}

.heroimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.herotext{
    position: absolute;
    top: 30%;
    right: 5%;
    color: var(--third);
    font-size: larger;
    text-align: center;
}
.herotext button{
    margin-left: 20px;
    height: 50px;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary);
    color: var(--third);
    cursor: pointer;
    border: none;
}
.herotext button:hover{
    background-color: var(--third);
    color: var(--primary);
}
.card1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.card img{
    height: 300px;
    width: 300px;
}
.card p{
    font-weight: 600;
}
.brand{
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.brand img{
    width: 120px;
    height: 80px;
    margin: 10px 5px;
}
.offer{
    height: 80px;
    background-color: var(--primary);
    color: var(--third);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.offer button{
    margin-left: 20px;
    height: 50px;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--third);
    color: var(--primary);
    cursor: pointer;
    border: none;
}
.offer button:hover{
    background-color: var(--primary);
    color: var(--third);
    border: 1px solid #fff;
}
.offer p{
    font-size: larger;
    font-weight: bold;
}
@media (max-width : 768px) {
    .card1{
        flex-direction: column;
    }
}