*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Saira Condensed";
}
:root{
  --primary : #000;
  --secondary : grey;
  --third : #fff;
  --four: rgb(123, 52, 52);
  --five:#aa1c1c;
}
nav{
  display: flex ;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  
}
nav a{
  height: 100%;
  padding: 0 25px;
  text-decoration: none;
  color: var(--primary);
}
.mobile-nav {
  display: none;
  flex-direction: column;
  background: var(--third);
  position: absolute;
  top: 50px;
  width: 250px;
  height: 100vh;
  padding: 20px 0;
  z-index: 999;
}
.btn1{
  font-size: 32px;
  border: none;
  background: none;
  display: none;
}

/* Home */

.side-head{
  display: flex;
  padding: 20px 0; 
  justify-content: center;
  font-size: 40px;
}
@media (max-width: 768px){
  .btn{
    display: block;
  }
  .nav{
    display: none;
  }
  .mobile-nav{
    display: flex;
  }
}

.product{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}