*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --primary : #000;
  --secondary : grey;
  --third : #fff;
}
nav{
  display: flex ;
  height: 60px;
  align-items: center;
  justify-content: center;
}
nav .container{
  height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  color: var(--primary);
}
.nav-icon{
  padding-left: 700px;
}